header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 3px 12px 0px rgba(104, 103, 103, 0.664);
    background-color: #493cff;
}

header img {
    height: 64px;
    filter: blur(0.5px);
    cursor: pointer;
}

#menu {
    position: fixed;
    right: 0;
    height: 48px;
    margin-right: 16px;
    cursor: pointer;
}

#menu:hover {
    opacity: 0.8;
}

.d-none {
    display: none!important;
}

#menu-bar {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    height: 100vh;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 3px 12px 3px rgba(0, 0, 0, 0.2);;
    background-color: #493cff;
    gap: 16px;
    opacity: 1;
    transition: 100ms;
}


#menu-bar a {
    text-decoration: none;
    color: white;
}

#menu-bar a:hover {
    opacity: 0.8;
}

#close-button img {
    height: 32px;
    margin-top: 32px;
    margin-bottom: 8px;
}