<a href="index.html"><img src="img/logo.png" alt="Logo"></a>
<h1>All Apps</h1>
<img src="img/menu.png" alt="Menu" id="menu" onclick="openMenu()">
<div id="menu-bar" class="d-none">
    <a href="#" id="close-button" onclick="closeMenu()"><img src="img/close.png" alt="close"></a>
    <a href="pages/chart.html">Bitcoin Chart</a>
    <a href="pages/wbt.html">Web Based Training</a>
    <a href="/pages/takeaway.html">Take Away</a>
    <a href="pages/login.html/">Login Seite</a>
    <a href="pages/drag-drop.html">Feld Drag & Drop</a>
    <a href="pages/tictactoe.html">Tic Tac Toe</a>
</div>