@font-face {
    font-family: 'Open Sans';
    src: url(font/OpenSans-VariableFont_wdth\,wght.ttf);
}


body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: rgba(245, 245, 220, 0.05);
}

h1 {
    color: black;
    text-shadow: 0 0px 3px rgba(0, 0, 0, 0.05);
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 3px 12px 0px rgba(104, 103, 103, 0.664);
}

header img {
    height: 48px;
    filter: blur(0.5px);
    cursor: pointer;
}

#menu {
    position: fixed;
    right: 0;
    height: 48px;
    margin-right: 16px;
    cursor: pointer;
}

.d-none {
    display: none!important;
}

#menu-bar {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 178px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 3px 12px 3px rgba(104, 103, 103, 0.664);;
    height: 100vw;
    background-color: white;
    transition: height 0.5s ease;
}

#close-button img {
    height: 16px;
    margin: 16px;
}